annotated-types==0.7.0
anyio==4.14.2
bcrypt==4.0.1
click==8.4.2
colorama==0.4.6
dnspython==2.8.0
ecdsa==0.19.2
email_validator==2.2.0
fastapi==0.115.5
greenlet==3.5.4
gunicorn==26.0.0
h11==0.16.0
idna==3.18
packaging==26.2
passlib==1.7.4
psycopg2-binary==2.9.10
pyasn1==0.6.4
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.0.1
python-jose==3.3.0
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.36
starlette==0.41.3
typing_extensions==4.12.2
uvicorn==0.30.6
